<div>
    <div class="dashboard">
        <div class="pagetitle">
            <h1>Annual Training Strategy List</h1>
            <span>List of Annual Training Strategy in below....</span>
        </div>

        <p>
            <a href="#/aTS/add" class="btn btn-primary">Add New Training Strategy</a>
        </p>

        <div class="progress progress-striped active" data-ng-show="isBusy">
            <div class="bar" style="width: 100%;"></div>
        </div>
        <table id="dyntable" class="table table-bordered table-invoice">
            <thead>
                <tr>
                    <th>
                        Training Code
                    </th>
                    <th>
                        Trainer
                    </th>
                    <th>
                        Topic
                    </th>
                    <th>
                        Batch Size
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Calender Year
                    </th>
                </tr>
            </thead>
            <tbody data-ng-repeat="i in data">
                <tr>
                    <td>{{i.trainingCode}}</td>
                    <td>{{i.trainerId}}</td>
                    <td>{{i.topic}}</td>
                    <td>{{i.batchSize}}</td>
                    <td>{{i.startDate  | date:'dd-MMM-yyyy'}}</td>
                    <td>{{i.endDate    | date:'dd-MMM-yyyy'}}</td>
                    <td>{{i.calendarYear}}</td>
                    <td class="center">
                        <a class="icon-list-alt" title="Details" ng-href="#/aTS/{{i.id}}"></a>
                        |
                        <a class="icon-edit" title="Edit" ng-href="#/aTS/edit/{{i.id}}"></a>
                        |
                        <a class="icon-trash" title="Delete" ng-href="#/aTS/delete/{{i.id}}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>