.mainwrapper { background-image: url(../img/mainbg2.png); }
.searchwidget input.search-query { border: 0; }
.searchwidget .btn { border: 0; border-left: 1px solid #ddd; }
.searchwidget { border-color: #666; }
.plainwidget { border-color: #333; background: #373737; }
.leftmenu .nav-tabs li:first-child { border-top: 0; background: #333; text-shadow: none; }
.leftmenu .nav-tabs li { border-color: #444; background: none; }
.nav-tabs.nav-stacked > li > a { 
	background: none; color: #eee; text-shadow: 1px 1px rgba(0,0,0,0.2); 
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.nav-tabs.nav-stacked > li > a:hover,
.leftmenu .nav-tabs.nav-stacked > li > a:hover { 
	background-color: #444 !important; 
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
}

.nav-tabs.nav-stacked [class^="icon-"],
.nav-tabs.nav-stacked [class*=" icon-"] {
	background-image: url(../img/glyphicons-halflings-white.png);	
}
.leftmenu .nav-tabs.nav-stacked > li.active > a { color: #333; text-shadow: none; }
.leftmenu .nav-tabs.nav-stacked > li.active > a [class^="icon-"],
.leftmenu .nav-tabs.nav-stacked > li.active > a [class*=" icon-"] {
	background-image: url(../img/glyphicons-halflings.png);	
}
.leftmenu .nav-tabs ul li a { background: #333; color: #ccc; text-shadow: none; }
.leftmenu .nav-tabs ul li a:hover { background: #373737; }
.leftmenu .nav-tabs > .dropdown > a,.leftmenu .nav-tabs > .dropdown > a:hover { background-image: url(../img/arrowdown2.png) !important; }

.headerpanel { background-color: #666; }
.headerpanel { border-color: #777; }
.logopanel, .ui-datepicker-calendar td.ui-datepicker-today a, .tabs2.ui-tabs .ui-tabs-nav li a,
.notification .dropdown-toggle, .userinfo .dropdown-toggle { background-color: #444; }
.logopanel { border-color: #333; }
.showmenu { background-color: #444; }
.showmenu:hover { background-color: #333; }
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover a { background-color: #444; }
.nav-pills > .active > a, .nav-pills > .active > a:hover { background-color: #444; }
.listfile li.selected { background: #eee; border-color: #999; }
.ctitle, .accordion2.ui-accordion .ui-state-active a, .tabs2.ui-tabs .ui-tabs-nav { background: #222 !important; }
.tabs2.ui-tabs .ui-tabs-nav, .tabs2.ui-tabs .ui-tabs-nav li:first-child, .tabs2.ui-tabs .ui-tabs-nav li a { border-color: #222; }
h4.ctitle { border-color: #222 !important; }
.tabs2.ui-tabs .ui-tabs-nav li a:hover { background: #333; }
.tabs2.ui-tabs .ui-tabs-nav li.ui-state-active a, .tabs2.ui-tabs .ui-tabs-nav li.ui-state-active a:hover { background: #999; }
.ctitle, .accordion2.ui-accordion .ui-state-active { border-color: #222 !important; }
.nav-list > .active > a, .nav-list > .active > a:hover { background-color: #999; }
.chzn-container .chzn-results .highlighted { background: #666; }
.actionBar a { background: #333; border-color: #222; }
.actionBar a:hover { background: #444; border-color: #333; }
.actionBar a.buttonDisabled:hover { border-color: #ccc; }
.wizard .hormenu li a.selected span.h2, .wizard .hormenu li a.done span.h2,
.wizard .tabbedmenu li a.selected span.h2, .wizard .tabbedmenu li a.selected span,
.wizard .tabbedmenu li a.done span.h2, .wizard .tabbedmenu li a.done span { color: #333; }
.verwizard .verticalmenu a.selected { background: #666; }
.themepixelsSkin .mceMenu .mceMenuItemEnabled a:hover, .fc-event { background: #666 !important; }
.themepixelsSkin .mceMenu .mceMenuItemEnabled a:hover .mceText, .themepixelsSkin .mceMenu .mceMenuItemActive .mceText { background: #666; }

.leftmenu .nav-tabs li:first-child, .leftmenu .nav-tabs li, .leftmenu .nav-tabs li a {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media screen and (max-width: 767px) {
	.searchwidget input.search-query { min-height: 34px !important; }
}


.leftmenu .nav-tabs ul li ul
{
    margin: 0 0 0 19px;
}

.leftmenu .nav-tabs ul >.dropdown > a, .leftmenu .nav-tabs ul >.dropdown > a:hover
{
		 background-color: #8F8F8F;
    background-image: url("../img/arrowdown2.png") !important;
    background-position: right center;
    background-repeat: no-repeat;
    color: #EEEEEE;
    margin: 0 0 0 -6px;
}

/*Notification CSS*/
.jewelCount span {
background: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
background: -webkit-linear-gradient(top, #fa3c45, #dc0d17);
border: none;
-webkit-border-radius: 2px;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .7);
font-family: "Helvetica Neue", Helvetica, Arial, "segoe ui",tahoma,sans-serif;
font-size: 10px;
-webkit-font-smoothing: antialiased;
font-weight: bold;
height: 14px;
line-height: 14px;
min-width: 12px;
padding: 0;
text-align: center;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
}


 .jewelCount span {
 -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F03D25;
    border-color: #E23923 #D83722 #C0311E;
    border-image: none;
    border-left: 1px solid #D83722;
    border-radius: 50% !important;
    border-right: 1px solid #D83722;
    border-style: solid;
    border-width: 1px;
    height: 10px;
    padding: 0 1px;
    width: 10px;
}

.fbJewel .jewelCount {
color: #fff;
font-size: 9px;
font-weight: bold;
}


/*Added by najib*/

.label-important,
.badge-important {
  background-color: #b94a48 !important;
}

.label-important[href],
.badge-important[href] {
  background-color: #953b39 !important;
}


.column{
	width:175px !important;
	margin-right:.5% !important;
	min-height:555px !important;
	float:left !important;
    text-align: center;
   /* background-image: url("../img/mainbg2.png") !important;*/
   background: linear-gradient(to bottom, #EDEDED 0%, #DEDEDE 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
   display:inline-block !important;
   white-space: normal !important;
}
.column .dragbox{
	margin:5px 2px  20px !important;
	background:#fff !important;
	position:relative !important;
	border:1px solid #ddd !important;
	-moz-border-radius:5px !important;
	-webkit-border-radius:5px !important;
}
.column .dragbox h2{
	margin:0 !important;
	font-size:12px !important;
	padding:5px !important;
	/*background:#f0f0f0 !important;*/
    background: none repeat scroll 0 0 #999999;
	color:#000 !important;
	border-bottom:1px solid #eee !important;
	font-family:Arial !important;
	cursor:move !important;
    line-height: 15px !important;
}
.dragbox-content{
	background:#fff !important;
	min-height:100px; margin:5px !important;
	font-family:Arial, Verdana; font-size:0.8em; line-height:1.5em !important;
}
.column  .placeholder{
	background: #f0f0f0 !important;
	border:1px dashed #ddd !important;
}
.dragbox h2.collapse{
	background:#f0f0f0 url('../img/collapse.png') no-repeat top right !important;
    margin:0 !important;
	font-size:12px !important;
	padding:5px !important;
	background:#f0f0f0 !important;
	color:#000 !important;
	border-bottom:1px solid #eee !important;
	font-family:Arial !important;
	cursor:move !important;
}
.dragbox h2 .configure{
	font-size:11px; font-weight:normal !important;
	margin-right:30px; float:right !important;
}

.column legend
{
     font-size: 13px;
     color:#FFFFFF;
     text-align: center;
     background:#3B6998 !important;
      
}
.modal
{
    width:620px !important;
height:450px !important;
overflow:scroll !important;

}


.headerright {
    display:inline-flex;
    float: right;
    padding: 7px 14px 0 0;
}
.dashboard
{
    min-height:650px !important;
    padding: 15px !important;
}

.ui-datepicker-div {z-index: 9999999 !important;}
.ui-datepicker {
    margin-top: -1px !important;
    padding: 5px !important;
    z-index: 9999999 !important;
}
.kanbanBoard
{
     /*background-color: #F7DE55 !important;*/
    border: 1px solid #000000 !important;
    padding: 5px !important;
    min-height: 555px !important;
    float:left !important;
    
    height:600px;
    width: 100% !important;
    border: 13px solid #bed5cd;
    min-width: 900px !important;
    margin:0 auto;
    overflow-y: scroll;
    font-family:Arial;
    /*overflow-x: scroll;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;*/
}
.columnHolder
{
    height:550px;
    width: auto;
    margin-bottom: 20px;
    display:inline-block;
    background-color:red;
    border:1px solid white;
}

.tab-content > .active, .pill-content > .active 
{
    width: 95% !important;
     overflow-x: scroll !important;
   overflow-y: scroll !important;
    white-space: nowrap !important;
    height: 480px !important;
    max-width:5000px !important;
    display:inline-block !important;
    margin:0 auto;
}
.projectBacklog
{
    width:20% !important;
    float: left !important;
}

.sprintDashboard
{
    width:79% !important;
    float: left !important;
}

.tab-content
{
    height:600px !important;
}
.label
{
    margin: 1px !important;
}


.progress {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ebebeb), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #ebebeb, 0%, #f5f5f5, 100%);
  background-image: -moz-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

.progress-bar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
  background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

.progress-bar-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5cb85c), to(#449d44));
  background-image: -webkit-linear-gradient(top, #5cb85c, 0%, #449d44, 100%);
  background-image: -moz-linear-gradient(top, #5cb85c 0%, #449d44 100%);
  background-image: linear-gradient(to bottom, #5cb85c 0%, #449d44 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.progress-bar-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#5bc0de), to(#31b0d5));
  background-image: -webkit-linear-gradient(top, #5bc0de, 0%, #31b0d5, 100%);
  background-image: -moz-linear-gradient(top, #5bc0de 0%, #31b0d5 100%);
  background-image: linear-gradient(to bottom, #5bc0de 0%, #31b0d5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.progress-bar-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f0ad4e), to(#ec971f));
  background-image: -webkit-linear-gradient(top, #f0ad4e, 0%, #ec971f, 100%);
  background-image: -moz-linear-gradient(top, #f0ad4e 0%, #ec971f 100%);
  background-image: linear-gradient(to bottom, #f0ad4e 0%, #ec971f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.progress-bar-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d9534f), to(#c9302c));
  background-image: -webkit-linear-gradient(top, #d9534f, 0%, #c9302c, 100%);
  background-image: -moz-linear-gradient(top, #d9534f 0%, #c9302c 100%);
  background-image: linear-gradient(to bottom, #d9534f 0%, #c9302c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}
.table table-bordered dyntable dataTable th, .table table-bordered dyntable dataTable td
{
      min-width: 60px !important;
}








.tabs-below > .nav-tabs > li > div > a {
    border-radius: 0 0 2px 2px;
    color: #666666;
}
.tabs-below > .nav-tabs > li > div > a:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #BBBBBB;
}

.hideIcon {
    display:none;
   
}
.active > a > button{
    display:inline-block !important;
}



li > a > button {
    display:none !important;
}
.colorpicker
{
    z-index: 2147483647 !important;
}

/*.table th, .table td
{
    min-width: 65px !important;
}*/