<div>
    <div class="pagetitle">
        <h1>Training Details</h1>
        <span>Training details are given below....</span>
    </div>

    <table id="dyntable" class="table table-bordered table-invoice">
        <tbody>
            <tr>
                <td>Training Title</td>
                <td>{{training.title}}</td>
            </tr>
            <tr>
                <td>Training Description</td>
                <td>{{training.description}}</td>
            </tr>
            <tr>
                <td>
                    Start Date
                </td>
                <td>
                    {{training.startDate | date:'dd-MMM-yyyy'}}
                </td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{{training.endDate | date:'dd-MMM-yyyy'}}</td>
            </tr>
            <tr>
                <td>Venue</td>
                <td>{{training.venue}}</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a ng-href="#/training/edit/{{training.id}}" class="btn btn-primary">Edit</a>
        |
        <a href="#/training/all" class="btn btn-primary">Back To the List</a>
    </p>

</div>