<div>
    <div class="message-header">
        <h1>Message Board</h1>
        <p class="lead">Latest Messages...</p>
        <div>Message count: {{data.length}} </div>
    </div>

    <div>
        <a href="#/newmessage">Add New Message</a>
    </div>

    <div class="progress progress-striped active" data-ng-show="isBusy">
        <div class="bar" style="width: 100%;"></div>
    </div>

    <div class="messages">
        <div class="message row" data-ng-repeat="i in data">
            <div class="title span10">
                {{i.title}}
            </div>
            <div class="date span2">
                {{i.created | date:"medium"}}
            </div>
            <div class="contents span12">
                {{i.body}}   
            </div>
            <div class="toolbar span12">
                <button class="btn btn-primary reply-button">Reply</button>
            </div>
            <div class="replies span12">
                <div class="reply" data-ng-repeat="r in i.replies">
                    <div class="created pull-right">
                        {{r.created}}
                    </div>
                    <div class="content">
                        {{r.body}}
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
