<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home Page</title>
</head>

<body>
    <div>
        <div class="dashboard">
            <div class="pagetitle">
                <h1>Upcoming Training</h1>
            </div>

            <div class="progress progress-striped active" data-ng-show="isBusy">
                <div class="bar" style="width: 100%;"></div>
            </div>
            <table class="table table-bordered dyntable">
                <thead>
                    <tr>
                        <th>
                            Training Title
                        </th>
                        <th>
                            Training Description
                        </th>
                        <th>
                            Training Start Date
                        </th>
                        <th>
                            Training End Date
                        </th>
                        <th>
                            Venue
                        </th>
                    </tr>
                </thead>

                <tbody data-ng-repeat="i in data">
                    <tr>
                        <td>
                            {{i.title}}
                        </td>
                        <td>
                            {{i.description}}
                        </td>
                        <td>
                            {{i.startDate | date:'dd-MMM-yyyy'}}
                        </td>
                        <td>
                            {{i.endDate | date:'dd-MMM-yyyy'}}
                        </td>
                        <td>
                            {{i.venue}}
                        </td>
                        <td class="center">
                            <a class="icon-list-alt" title="Details" ng-href="#/training/{{i.id}}"></a>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>
</body>
</html>
