<script type="text/javascript">
    $('.leftmenu').show();
    $('.userinfo').show();
    $('.input-append').show();
</script>

    <!--<div>
        <div class="dashboard">-->
            <div class="pagetitle">
                <h1>Upcoming Training</h1>
            </div>

            <div class="progress progress-striped active" data-ng-show="isBusy">
                <div class="bar" style="width: 100%;"></div>
            </div>
            <table class="table table-bordered dyntable">
                <thead>
                    <tr>
                        <th>
                            Training Title
                        </th>
                        <!--<th>
                            Training Description
                        </th>-->
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Venue
                        </th>
                    </tr>
                </thead>

                <tbody data-ng-repeat="i in data">
                    <tr>
                        <td>
                            {{i.Title}}
                        </td>
                        <!--<td>
                            {{i.Description}}
                        </td>-->
                        <td>
                            {{i.StartDate | date:'dd-MMM-yyyy'}}
                        </td>
                        <td>
                            {{i.EndDate | date:'dd-MMM-yyyy'}}
                        </td>
                        <td>
                            {{i.Venue}}
                        </td>
                        <td class="center">
                            <a class="icon-list-alt" title="Details" ng-href="#/training/{{i.Id}}"></a>
                        </td>
                    </tr>

                </tbody>

            </table>

        <!--</div>
    </div>-->
